@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply text-2xl font-bold md:text-4xl font-primary;
	}

	h2 {
		@apply text-2xl font-bold md:text-4xl font-primary;
	}

	h3 {
		@apply text-xl font-bold md:text-3xl font-primary;
	}

	h4 {
		@apply text-lg font-bold font-primary;
	}

	body {
		@apply text-sm font-primary md:text-base;
	}

	/* inter-regular - latin */
	@font-face {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		font-display: optional;
		src: url('/fonts/Poppins-Regular.ttf') format('ttf'),
	}

	@font-face {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 500;
		font-display: optional;
		src: url('/fonts/Poppins-Medium.ttf') format('ttf'),
	}

	@font-face {
		font-family: 'Poppins';
		font-style: normal;
		font-display: optional;
		src: url('/fonts/Poppins-Bold.ttf') format('ttf'),
	}

}